@use '../../sass/variables';

.panel-result {
  background-color: variables.$greenOliva;
  font-size: 3.2rem;
  padding: 1.2rem;
  border-radius: 0.4rem;
  text-align: end;
  min-height: 9rem;
  word-break: break-all;

  & > .panel-result__formula {
    transition: none;

    &--small {
      transition: font-size 0.4s;
      font-size: 2.5rem;
    }
  }

  & > .panel-result__result {
    font-weight: 900;
  }
}

@keyframes expand-height {
  from {
    line-height: 0;
  }
  to {
    line-height: 1;
  }
}
