@use '../../sass/variables';

.panel-result {
  background-color: variables.$greenOliva;
  font-size: 3.2rem;
  padding: 1.2rem;
  border-radius: 0.4rem;
  text-align: end;
  min-height: 9rem;

  & > .panel-result__formula {
    &--small {
      font-size: 2.5rem;
    }
  }

  & > .panel-result__result {
    font-weight: 900;
  }
}
