@use '../../sass/_variables.scss';
@use '../../sass/mixins';

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 1rem;

  &__button {
    &--dark {
      @include mixins.keyCalculator(variables.$black);
    }

    &--light {
      @include mixins.keyCalculator(variables.$blackLight);
    }

    &--salmon {
      @include mixins.keyCalculator(variables.$salmon);
    }
  }
}
