<section class="buttons-grid">
  <button class="buttons-grid__button--dark">C</button>

  <button class="buttons-grid__button--dark">backspace</button>

  <operator-button operatorSymbol="√" operation="square" />
  <operator-button operatorSymbol="÷" operation="div" />

  <digit-button :digit="7" />
  <digit-button :digit="8" />
  <digit-button :digit="9" />

  <operator-button operatorSymbol="×" operation="mult" />

  <digit-button :digit="4" />
  <digit-button :digit="5" />
  <digit-button :digit="6" />

  <operator-button operatorSymbol="-" operation="sub" />

  <digit-button :digit="1" />
  <digit-button :digit="2" />
  <digit-button :digit="3" />

  <operator-button operatorSymbol="+" operation="add" />

  <button class="buttons-grid__button--light">+/-</button>
  <digit-button :digit="0" />
  <button class="buttons-grid__button--light">.</button>
  <button class="buttons-grid__button--salmon">=</button>
</section>
