<section class="buttons-grid">
  <button class="buttons-grid__button--dark">C</button>

  <button class="buttons-grid__button--dark">
    <img :src="backspaceIcon" alt="backspace icon" />
  </button>

  <operator-button
    @on-operator-click="handleOperatorClick"
    operatorSymbol="√"
  />
  <operator-button
    @on-operator-click="handleOperatorClick"
    operatorSymbol="÷"
  />

  <digit-button @on-digit-click="handleDigitClick" digit="7" />
  <digit-button @on-digit-click="handleDigitClick" digit="8" />
  <digit-button @on-digit-click="handleDigitClick" digit="9" />

  <operator-button
    @on-operator-click="handleOperatorClick"
    operatorSymbol="×"
  />

  <digit-button @on-digit-click="handleDigitClick" digit="4" />
  <digit-button @on-digit-click="handleDigitClick" digit="5" />
  <digit-button @on-digit-click="handleDigitClick" digit="6" />

  <operator-button
    @on-operator-click="handleOperatorClick"
    operatorSymbol="-"
  />

  <digit-button @on-digit-click="handleDigitClick" digit="1" />
  <digit-button @on-digit-click="handleDigitClick" digit="2" />
  <digit-button @on-digit-click="handleDigitClick" digit="3" />

  <operator-button
    @on-operator-click="handleOperatorClick"
    operatorSymbol="+"
  />

  <button class="buttons-grid__button--light" @click="handleInvertSignalClick">
    +/-
  </button>

  <digit-button @on-digit-click="handleDigitClick" digit="0" />
  <digit-button @on-digit-click="handleDigitClick" digit="." />

  <button
    class="buttons-grid__button--salmon"
    @click="handleEqualOperatorClick"
  >
    =
  </button>
</section>
